@import "./_setting.scss";
.mainPage {
  .mainSlideContainer {
    position: relative;
    max-width: 64.375rem;
    margin: 0 auto;
    padding: 0;
    height: 300px;
    overflow: hidden;
    background: white;

    .mainSlide{
      position: relative;
      top: 0;
      left: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      opacity: 1;
      width: 4120px;
      transition: transform .9s ease-in-out;
      img{
        display: block;
        float: left;
        height: 100%;
        min-height: 1px;
        width: 1030px;

      }
    }
    .prevBtn{
      font-size: 0;
      line-height: 0;
      padding: 0;
      position: absolute;
      width: 15px;
      height: 30px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      background-size: cover;
      left: calc(50% - 500px);
      background-image: url("../img/ui/prevBtn.png");
    }
    .nextBtn{
      font-size: 0;
      line-height: 0;
      padding: 0;
      position: absolute;
      width: 15px;
      height: 30px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      background-size: cover;
      right: calc(50% - 500px);
      background-image: url("../img/ui/nextBtn.png");
    }
  }
  .recommendedItems {
    .sectionHeadline {
      display: flex;
      width: 1024px;
      padding-top: 55px;
      margin: 0 auto 22px;
      font-size: 24px;
    }
    .recommendedItemSlideContainer {
      position: relative;
      width: 1024px;
      height: 363px;
      margin: 0 auto;
      overflow: hidden;
      .recommendedItemSlide {
        margin-right: -1rem;
        overflow: hidden;
        position: relative;
        .slideList {
          width: 3120px;
          position: relative;
          display: block;
          top: 0;
          left: 0;
          opacity: 1;
          transform: translateX(0);
          transition: transform .8s ease-in-out;
          .slideItem {
            width: 260px;
            height: 100%;
            float: left;
            min-height: 1px;
            display: block;
            .slideItemLink {
              background: rgb(245, 245, 245);
              width: 15.25rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              .itemImage {
                position: relative;
                margin-top: 30px;
                width: 194px;
                height: 194px;
                img {
                  display: block;
                  border-radius: 50%;
                  width: 194px;
                }
              }
              .itemInfo {
                padding: 1rem 30px 26px;
                width: 100%;
                .itemName {
                  width: 100%;
                  font-size: 1rem;
                  text-align: center;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  position: relative;
                  overflow: hidden;
                }
                .itemIcon{
                  width: 100%;
                  height: 35px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 13px;
                  color: $colorPrimary;
                }
                .itemDetail{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-top: 1.5rem;
                  .itemPrice{
                    font-size: 18px;
                    font-weight: 600;
                    &::after{
                      content: "원";
                      font-size: 13px;
                      margin-left: 3px;
                    }
                  }
                  .itemUpdated{
                    font-size: 13px;
                    color: rgb(130, 130, 130);
                  }
                }
              }
            }
          }
        }
        .prevBtn{
          font-size: 0;
          line-height: 0;
          padding: 0;
          position: absolute;
          width: 15px;
          height: 30px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          background-size: cover;
          left: calc(50% - 510px);
          background-image: url("../img/ui/prevBtn.png");
        }
        .nextBtn{
          font-size: 0;
          line-height: 0;
          padding: 0;
          position: absolute;
          width: 15px;
          height: 30px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          background-size: cover;
          right: calc(50% - 490px);
          background-image: url("../img/ui/nextBtn.png");
        }
      }
    }
  }
  .midBanner{
    width: 1024px;
    height: 160px;
    margin: 30px auto 50px;
    position: relative;
    background: url('../img/ui/midBanner.jpg');
  }
  .categoryHot{
    background: rgb(248,248,248);
    padding-bottom: 100px;
    .categoryHotInner{
      width: 1024px;
      margin: auto;
      .categoryHotHeadline{
        display: flex;
        font-size: 24px;
        padding: 50px 0 20px;
      }
      .categoryHotTabsContainer{
        margin-bottom: 32px;
        .categoryHotTabs{
          width: 100%;
          height: 56px;
          overflow: hidden;
          position: relative;
          border-left: 1px solid $colorLine;
          .categoryList{
            display: flex;
            margin-left: 0;
            height: 50px;
            border-top: 1px solid $colorLine;
            border-bottom: 1px solid $colorLine;
            background: white;
            .categoryEach{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: -1px;
              .categoryBtn{
                width: calc(1032px / 9);
                height:50px;
                flex-shrink: 0;
                text-align: center;
                padding: 0 10px;
                border: 1px solid rgb(220,220,220);
                color: $colorText;
                margin-left: -1px;
                white-space: nowrap;
                overflow-x: hidden;
                background: white;
                font-weight: 500;
              }
              .btnActive{
                color: white;
                background: $colorPrimary;
                border: none;
              }
            }
          }
        }
      }
      .categoryItemsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        .categoryItem{
          width: 196px;
          margin-bottom: 11px;
          .categoryLink{
            border: 1px solid $colorLine;
            background: white;
            display: block;
            .categoryItemThumb{
              position: relative;
              width: 100%;
              height: 195px;
              img{
                vertical-align: bottom;
                width:194px;
              }
            }
            .categoryItemInfo{
              padding: 15px 10px;
              height: 80px;
              .categoryItemName{
                position: relative;
                font-size: 14px;
                padding-bottom: 20px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
              .categoryItemDetail{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 20px;
                .itemPrice{
                  font-size: 16px;
                  font-weight: 600;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow:hidden;
                  &::after{
                    content: "원";
                    font-size: 13px;
                    margin-left: 3px;
                  }
                }
                .itemUpdated{
                  font-size: 12px;
                  color: rgb(130, 130, 130);
                }
              }
            }
          }
        }
      }
    }
  }
}