@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0 none; font: inherit; -webkit-box-sizing: border-box; box-sizing: border-box; }

button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0; }

body { color: #32323c; letter-spacing: -0.5px; font-size: 14px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; line-height: 1; color: #282828; }

button { background-color: transparent; border: none; padding: 0; cursor: pointer; }

a { color: #282828; text-decoration: none; background-color: transparent; }

::before, ::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

.wrapper { min-width: 1236px; }

.fixedUI { position: -webkit-sticky; position: sticky; width: 100%; padding-top: 35px; background: white; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); top: 0; left: 0; z-index: 10; }

.fixedUI .header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 1024px; }

.fixedUI .header .logoSearchBar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 1024px; height: 40px; }

.fixedUI .header .logoSearchBar .logo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 100px; width: 136px; }

.fixedUI .header .logoSearchBar .searchArea { width: 460px; height: 40px; border: 1px solid #d7d7d7; border-radius: 3px; position: relative; }

.fixedUI .header .logoSearchBar .searchArea .searchBox { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0px 15px; }

.fixedUI .header .logoSearchBar .searchArea .searchBox .globalSearch { color: #646464; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding: 0; border: 0 none; }

.fixedUI .header .logoSearchBar .searchArea .searchBox .searchBtn { text-decoration: none; }

.fixedUI .header .logoSearchBar .searchArea .searchBox .searchBtn img { vertical-align: bottom; }

.fixedUI .header .logoSearchBar .searchArea .keywordBox { position: absolute; top: 48px; left: 0; width: 100%; border: 1px solid #d7d7d7; background: white; z-index: 10; display: none; }

.fixedUI .header .logoSearchBar .searchArea .keywordBox .keywordBoxWrapper { padding: 0 15px; }

.fixedUI .header .logoSearchBar .searchArea .keywordBox .keywordBoxWrapper .keywordTab { display: -webkit-box; display: -ms-flexbox; display: flex; }

.fixedUI .header .logoSearchBar .searchArea .keywordBox .keywordBoxWrapper .keywordTab .kTab { padding: 25px 0 10px; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; border-bottom: 2px solid #d7d7d7; height: 50px; text-align: center; font-weight: 600; }

.fixedUI .header .logoSearchBar .searchArea .keywordBox .keywordBoxWrapper .keywordTab .active { border-bottom: 2px solid #2b59ef; color: #2b59ef; }

.fixedUI .header .logoSearchBar .searchArea .keywordBox .keywordBoxWrapper .keywordArea { height: 360px; overflow: hidden; }

.fixedUI .header .logoSearchBar .searchArea .keywordBox .keywordBoxUtil { width: 100%; height: 40px; background: #fafafa; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; padding: 0 25px; }

.fixedUI .header .userMenu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.fixedUI .header .userMenu .gomTalk { margin-left: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; }

.fixedUI .header .userMenu .gomTalk img { width: 23px; margin-right: 5px; }

.fixedUI .header .userMenu .userMenuBtn { margin-left: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; }

.fixedUI .header .userMenu .userMenuBtn img { width: 23px; margin-right: 5px; }

.fixedUI .header .userMenu .userMenuBtn::after { content: ''; width: 1px; height: 10px; border-right: 1px solid #c8c8c8; position: absolute; top: 8px; right: -15px; }

.fixedUI .header .foldingNav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 70px; }

.fixedUI .header .foldingNav .burgerIcon { margin-right: 20px; position: relative; }

.fixedUI .header .foldingNav .burgerIcon img { vertical-align: bottom; border-style: none; width: 20px; }

.fixedUI .sideTool { position: absolute; top: 160px; right: calc(50% - 617px); z-index: 20; }

.fixedUI .sideTool .sideToolInner { width: 90px; }

.fixedUI .sideTool .sideToolInner .sideUI { padding: 10px; width: 100%; border: 1px solid #d7d7d7; background: white; margin-bottom: 6px; }

.fixedUI .sideTool .sideToolInner .sideUI:last-child { margin-bottom: 0; padding: 0; }

.fixedUI .sideTool .sideToolInner .sideUI .sideUITitle { font-size: 12px; font-weight: 600px; color: #32323c; text-align: center; margin-bottom: 8px; }

.fixedUI .sideTool .sideToolInner .sideUI .likes { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.fixedUI .sideTool .sideToolInner .sideUI .likes .likesLink { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 12px; color: #c8c8c8; font-weight: 600; }

.fixedUI .sideTool .sideToolInner .sideUI .totheTop { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 40px; width: 100%; font-weight: 600; font-size: 13px; color: #646464; }

.fixedUI .sideTool .sideToolInner .sideUI .viewedCounterBox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 10px; }

.fixedUI .sideTool .sideToolInner .sideUI .viewedCounterBox .viewedCounter { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 12px; color: #2b59ef; font-weight: 600; width: 38px; border-bottom: 2px dotted #828282; padding-bottom: 10px; }

.fixedUI .sideTool .sideToolInner .sideUI .recentViewedList { width: 100px; }

.fixedUI .sideTool .sideToolInner .sideUI .recentViewedList .recentViewedItems { display: block; width: 100%; margin-bottom: 5px; border: 1px solid transparent; position: relative; font-size: 13px; }

.fixedUI .sideTool .sideToolInner .sideUI .recentViewedList .recentViewedItems:last-child { margin-bottom: 0; }

.fixedUI .sideTool .sideToolInner .sideUI .recentViewedList .recentViewedItems img { width: 66px; }

.fixedUI .sideTool .sideToolInner .sideUI .recentViewedPager { margin-top: 8px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.mainPage .mainSlideContainer { position: relative; max-width: 64.375rem; margin: 0 auto; padding: 0; height: 300px; overflow: hidden; background: white; }

.mainPage .mainSlideContainer .mainSlide { position: relative; top: 0; left: 0; display: block; margin-left: auto; margin-right: auto; opacity: 1; width: 4120px; -webkit-transition: -webkit-transform .9s ease-in-out; transition: -webkit-transform .9s ease-in-out; transition: transform .9s ease-in-out; transition: transform .9s ease-in-out, -webkit-transform .9s ease-in-out; }

.mainPage .mainSlideContainer .mainSlide img { display: block; float: left; height: 100%; min-height: 1px; width: 1030px; }

.mainPage .mainSlideContainer .prevBtn { font-size: 0; line-height: 0; padding: 0; position: absolute; width: 15px; height: 30px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 1; background-size: cover; left: calc(50% - 500px); background-image: url("../img/ui/prevBtn.png"); }

.mainPage .mainSlideContainer .nextBtn { font-size: 0; line-height: 0; padding: 0; position: absolute; width: 15px; height: 30px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 1; background-size: cover; right: calc(50% - 500px); background-image: url("../img/ui/nextBtn.png"); }

.mainPage .recommendedItems .sectionHeadline { display: -webkit-box; display: -ms-flexbox; display: flex; width: 1024px; padding-top: 55px; margin: 0 auto 22px; font-size: 24px; }

.mainPage .recommendedItems .recommendedItemSlideContainer { position: relative; width: 1024px; height: 363px; margin: 0 auto; overflow: hidden; }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide { margin-right: -1rem; overflow: hidden; position: relative; }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide .slideList { width: 3120px; position: relative; display: block; top: 0; left: 0; opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); -webkit-transition: -webkit-transform .8s ease-in-out; transition: -webkit-transform .8s ease-in-out; transition: transform .8s ease-in-out; transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out; }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide .slideList .slideItem { width: 260px; height: 100%; float: left; min-height: 1px; display: block; }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide .slideList .slideItem .slideItemLink { background: whitesmoke; width: 15.25rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide .slideList .slideItem .slideItemLink .itemImage { position: relative; margin-top: 30px; width: 194px; height: 194px; }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide .slideList .slideItem .slideItemLink .itemImage img { display: block; border-radius: 50%; width: 194px; }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide .slideList .slideItem .slideItemLink .itemInfo { padding: 1rem 30px 26px; width: 100%; }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide .slideList .slideItem .slideItemLink .itemInfo .itemName { width: 100%; font-size: 1rem; text-align: center; text-overflow: ellipsis; white-space: nowrap; position: relative; overflow: hidden; }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide .slideList .slideItem .slideItemLink .itemInfo .itemIcon { width: 100%; height: 35px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 13px; color: #2b59ef; }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide .slideList .slideItem .slideItemLink .itemInfo .itemDetail { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 1.5rem; }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide .slideList .slideItem .slideItemLink .itemInfo .itemDetail .itemPrice { font-size: 18px; font-weight: 600; }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide .slideList .slideItem .slideItemLink .itemInfo .itemDetail .itemPrice::after { content: "원"; font-size: 13px; margin-left: 3px; }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide .slideList .slideItem .slideItemLink .itemInfo .itemDetail .itemUpdated { font-size: 13px; color: #828282; }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide .prevBtn { font-size: 0; line-height: 0; padding: 0; position: absolute; width: 15px; height: 30px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 1; background-size: cover; left: calc(50% - 510px); background-image: url("../img/ui/prevBtn.png"); }

.mainPage .recommendedItems .recommendedItemSlideContainer .recommendedItemSlide .nextBtn { font-size: 0; line-height: 0; padding: 0; position: absolute; width: 15px; height: 30px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 1; background-size: cover; right: calc(50% - 490px); background-image: url("../img/ui/nextBtn.png"); }

.mainPage .midBanner { width: 1024px; height: 160px; margin: 30px auto 50px; position: relative; background: url("../img/ui/midBanner.jpg"); }

.mainPage .categoryHot { background: #f8f8f8; padding-bottom: 100px; }

.mainPage .categoryHot .categoryHotInner { width: 1024px; margin: auto; }

.mainPage .categoryHot .categoryHotInner .categoryHotHeadline { display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 24px; padding: 50px 0 20px; }

.mainPage .categoryHot .categoryHotInner .categoryHotTabsContainer { margin-bottom: 32px; }

.mainPage .categoryHot .categoryHotInner .categoryHotTabsContainer .categoryHotTabs { width: 100%; height: 56px; overflow: hidden; position: relative; border-left: 1px solid #d7d7d7; }

.mainPage .categoryHot .categoryHotInner .categoryHotTabsContainer .categoryHotTabs .categoryList { display: -webkit-box; display: -ms-flexbox; display: flex; margin-left: 0; height: 50px; border-top: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7; background: white; }

.mainPage .categoryHot .categoryHotInner .categoryHotTabsContainer .categoryHotTabs .categoryList .categoryEach { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: -1px; }

.mainPage .categoryHot .categoryHotInner .categoryHotTabsContainer .categoryHotTabs .categoryList .categoryEach .categoryBtn { width: calc(1032px / 9); height: 50px; -ms-flex-negative: 0; flex-shrink: 0; text-align: center; padding: 0 10px; border: 1px solid gainsboro; color: #32323c; margin-left: -1px; white-space: nowrap; overflow-x: hidden; background: white; font-weight: 500; }

.mainPage .categoryHot .categoryHotInner .categoryItemsContainer { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }

.mainPage .categoryHot .categoryHotInner .categoryItemsContainer .categoryItem { width: 196px; margin-bottom: 11px; }

.mainPage .categoryHot .categoryHotInner .categoryItemsContainer .categoryItem .categoryLink { border: 1px solid #d7d7d7; background: white; display: block; }

.mainPage .categoryHot .categoryHotInner .categoryItemsContainer .categoryItem .categoryLink .categoryItemThumb { position: relative; width: 100%; height: 195px; }

.mainPage .categoryHot .categoryHotInner .categoryItemsContainer .categoryItem .categoryLink .categoryItemThumb img { vertical-align: bottom; width: 194px; }

.mainPage .categoryHot .categoryHotInner .categoryItemsContainer .categoryItem .categoryLink .categoryItemInfo { padding: 15px 10px; height: 80px; }

.mainPage .categoryHot .categoryHotInner .categoryItemsContainer .categoryItem .categoryLink .categoryItemInfo .categoryItemName { position: relative; font-size: 14px; padding-bottom: 20px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.mainPage .categoryHot .categoryHotInner .categoryItemsContainer .categoryItem .categoryLink .categoryItemInfo .categoryItemDetail { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 20px; }

.mainPage .categoryHot .categoryHotInner .categoryItemsContainer .categoryItem .categoryLink .categoryItemInfo .categoryItemDetail .itemPrice { font-size: 16px; font-weight: 600; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.mainPage .categoryHot .categoryHotInner .categoryItemsContainer .categoryItem .categoryLink .categoryItemInfo .categoryItemDetail .itemPrice::after { content: "원"; font-size: 13px; margin-left: 3px; }

.mainPage .categoryHot .categoryHotInner .categoryItemsContainer .categoryItem .categoryLink .categoryItemInfo .categoryItemDetail .itemUpdated { font-size: 12px; color: #828282; }
/*# sourceMappingURL=main.css.map */