@charset "UTF-8";
.products { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: white; }

.products .productsInner { width: 1024px; }

.products .productsInner .locationNav { padding: 15px 0; height: 50px; }

.products .productsInner .locationNav ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

.products .productsInner .locationNav ul li { list-style: none; margin-right: 10px; }

.products .productsInner .locationNav ul li a { margin-right: 10px; }

.products .productsInner .locationNav ul li::after { content: "＞"; font-size: 10px; }

.products .productsInner .locationNav ul li:last-child::after { content: ""; }

.products .productsInner .itemTopinfoWrap { position: relative; width: 1024px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.products .productsInner .itemTopinfoWrap .itemThumbImg { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; overflow: hidden; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 512px; height: 700px; margin-right: 40px; }

.products .productsInner .itemTopinfoWrap .itemThumbImg .viewer { overflow: hidden; margin-bottom: 30px; list-style: none; }

.products .productsInner .itemTopinfoWrap .itemThumbImg .viewer li { display: none; overflow: hidden; width: 512px; height: 512px; text-align: center; line-height: 512px; }

.products .productsInner .itemTopinfoWrap .itemThumbImg .viewer li.on { display: block; }

.products .productsInner .itemTopinfoWrap .itemTopinfo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 472px; }

.products .productsInner .itemTopinfoWrap .itemTopinfo .itemTopinfoHeadline { min-height: 220px; }

.products .productsInner .itemTopinfoWrap .itemTopinfo .itemTopinfoHeadline .itemNow { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 18px; padding-bottom: 10px; border-bottom: 1px solid #aaa; }

.products .productsInner .itemTopinfoWrap .itemTopinfo .itemTopinfoHeadline .itemNow .uploadTime { font-size: 20px; color: #333; font-weight: 600; line-height: 20px; }

.products .productsInner .itemTopinfoWrap .itemTopinfo .itemTopinfoHeadline .itemNow .itempop { font-size: 12px; line-height: 18px; color: #777; }

.products .productsInner .itemTopinfoWrap .itemTopinfo .itemTopinfoHeadline .itemNow .itempop .itemLike::before { content: "♡"; }

.products .productsInner .itemTopinfoWrap .itemTopinfo .itemTopinfoHeadline .itemCase .itemTit { width: 400px; margin-bottom: 14px; font-size: 28px; font-weight: 400; color: #222; line-height: 36px; letter-spacing: -1px; }

.products .productsInner .itemTopinfoWrap .itemTopinfo .itemTopinfoHeadline .itemCase .itemPrice { font-size: 30px; line-height: 36px; height: 36px; color: #111; font-weight: 700; }

.products .productsInner .itemTopinfoWrap .itemTopinfo .itemTopinfoHeadline .itemCase .itemPrice::after { content: "원"; font-size: 28px; line-height: 36px; font-weight: 300; }

.products .productsInner .itemTopinfoWrap .itemTopinfo .btnArea .itemBuy { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: 62px; font-size: 24px; font-weight: 600; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border-radius: 2px; background: #2b59ef; color: white; }
